
main {
    background-position: fixed;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}

.box {
    display: inline-block;
    background-color: #e0e0e0;
    background-image: url('../image/event-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-name {
    backdrop-filter: brightness(60%);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    transition: all .5s ease;
}

.event-name h2 {
    line-height: 50px;
    text-align: center;
    font-weight: normal;
}

.event-name a {
    color: white;
}

.box:hover {
}

.box:hover .event-name {
    background: black;
}

@media screen and (max-width: 680px) {
    .box {
        width: 100%;
        padding-top: 100%;
        box-shadow: 2px 2px 2px #888888;
    }
}

.event-head {
    width: 70%;
    margin: 0 auto;
}

.event-head h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.time {
    font-weight: normal;
    margin-bottom: 20px;
    color: #1967d2;
}

.dot {
    display: inline-block;
    background-color: lightblue;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: .5rem;
}

.reg-info {
    background-color: #eff0f1;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 3px 3px 5px #ddd;
}

.reg-info h2 {
    padding-bottom: 10px;
}

.reg-info h3 {
    display: inline;
    font-size: 1.5em;
    padding-left: 20px;
}

.register {
    display: inline-block;
    float: right;
    margin-right: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    border: 3px solid;
}

.register a {
    color: black;
}

.incharge {
    margin: 30px auto;
    background-color: #eff0f1;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 2px 5px #ddd;
}

.semi-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.incharge-name {
    padding-bottom: 8px;
    font-size: 1.2em;
}

.content {
    margin-bottom: 50px;
}

@media screen and (max-width: 620px) {
    .semi-container {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .event-head {
        width: 90%;
    }
}

.map {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: inherit;
}

.category {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #888888;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid crimson;
}