@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

.head {
    padding-top: 60px;
    height: 100%;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    /*background: url('../image/main-background.svg');*/
    background-attachment: fixed;
}

.web-title {
    margin: 7%;
    margin-top: 3%;
    display: inline-block;
    /*background-color: white;*/
    /*box-shadow: 0px 0px 2px rgba(0,0,0,.3);*/
    width: 50%;
    transition: box-shadow .2s ease-in-out;
}
/*
.web-title:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}
*/
.web-title h1 {
    display: inline-block;
    font-size: 5rem;
    letter-spacing: .07em;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.web-title p {
    font-family: 'Julius Sans One';
    font-style: italic;
    line-height: 1.5em;
    padding-top: 2em;
    font-size: 2.2em;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .head-container h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {
    .web-title {
        width: 90%;
        margin: 5%;
    }

    .web-title h1 {
        font-size: 3em;
    }
}

.slider-main {
    width: 80%;
    height: fit-content;
    display: block;
    margin: 0 auto;
    padding-top: 2em;
}

.slider-nav div {
    background-color: burlywood;
}

.slider-nav h3 {
    line-height: 150px;
    background: white;
    font-size: 5em;
    margin: 10px;
    text-align: center;
}

.semi-head {
    width: 70%;
    margin: 0 auto;
    line-height: 100px;
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

.about .para {
    width: 70%;
}

.semi-head h1 {
    font-size: 1.7em;
}

.semi-head a {
    color: #335476;
}
.semi-head a:visited {
    color: #335476;
}

.semi-head h3 {
    font-weight: normal;
}

hr {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 80%;
    height: 3px;
    border: 0 solid;
    background-color: black;
}

@media screen and (max-width: 1000px) {
    .head-container {
        flex-direction: column;
    }

    .web-title {
        margin: 0 auto;
    }
    .web-title p {
        font-size: 1.7em;
    }

    .head {
        padding-top: 0;
        height: 200%;
    }

    .slider-main {
        width: 100%;
    }

    .about p {
        font-size: 0.9em;
    }

    .about .para {
        width: 90%;
    }

    hr {
        width: 90%;
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fade-in 1s forwards linear;
}
