.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    margin: .5rem 0;
    padding-left: 1em;
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.row:first-child {
    border: none;
    margin-bottom: 0;
}

.column {
    width: 100%;
    line-height: 3em;
    font-size: 1.1em;
}

.column-head {
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .column-head {
        display: none;
    }

    .column:first-child {
        font-weight: bold;
    }
    
    .column:nth-child(3) {
        display: none;
    }

    .column {
        line-height: 2.3em;
    }
}