@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, .15), 0 2px 5px 0 rgba(0, 0, 0, .10);
    z-index: 3;
    line-height: 80px;
    transition: all .5s ease;
}

.fix {
    position: fixed;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

header nav {
    background: #ffffff;
    width: 100%;
}

label.logo{
    color: #000000;
    font-size: 35px;
    line-height: inherit;
    padding: 0 100px;
    font-weight: bold;
}

header nav ul {
    float: right;
}

header nav ul li {
    display: inline-block;
    line-height: inherit;
    margin: 0 5px;
}

header nav ul li a {
    color: #000000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

header a.active, header a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
}

main {
    padding-top: 60px;
}

footer {
    background: #ededed;
}

.footer-logo {
    margin: auto auto;
}
.contact {
    margin: auto auto;
}

.contact h2 {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.contact ul {
    padding-inline-start: 0px;
}

.contact ul li {
    margin: 20px 0px;
}

.value {
    display: inline-block;
    font-weight: lighter;
    padding-left: 10px;
}
.tag {
    float: left;
    display: inline-block;
    text-align: right;
}

.social-media {
    font-size: 2em;
}

.social-media a {
    margin-left: 30px;
    display: inline-block;
    color: black;
}

.sec {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.sec h1 {
    font-size: 2em;
    color: #666666;
    padding-top: 80px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.ticket-button {
    margin: 0;
    background-color: #2962FF;
    padding: 0 20px
}

.ticket-button a {
    font-weight: bold;
    color: white;
}

.ticket-button a:hover {
    background: inherit;
}

@media screen and (max-width: 1000px) {
    header {
        position: sticky;
    }
    
    .ticket-button {
        background-color: inherit;
        color: #2962FF;
    }

    .ticket-button a {
        color: #2962FF;
    }

    .ticket-button a:hover {
        background-color: #dddddd;
        color: #2962FF;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .checkbtn {
        display: block;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #eeeeee;
        top: 80px;
        left: 0;
        text-align: center;
        left: 100%;
        transition: all .5s;
    }

    header nav ul li{
        display: block;
        color: #000000;
        margin: 50px 0px;
        line-height: 30px;
    }

    header nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #666666;
    }

    #check:checked ~ ul {
        left: 0px;
    }
    #check:checked ~ header {
        position: sticky;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main {
        padding-top: 0px;
    }
    
    .sec {
        width: 90%;
    }
}
