.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}

.main-box {
    background-color: #f8f8f8;
    background-image: url('../image/team.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 50px;
}

.box {
    background-color: #f8f8f8;
    background-image: url('../image/person2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .3s;
}

.name-box {
    font-size: 1.4em;
    text-align: left;
    padding-left: 1rem;
    /*text-shadow: 1px 1px 1px #111111;*/
    background-color: white;
    padding-top: .5rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-weight: bold;
    /*backdrop-filter: blur(10px);*/
    color: #111;
}

.role {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    text-align: left;
    text-transform: uppercase;
    padding-left: 1rem;
    background-color: white;
    font-size: 1.1em;
    color: gray;
    padding-bottom: .5rem;
}

.box:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sec h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #888888;
    font-weight: normal;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid crimson;
}

@media screen and (max-width: 500px) {
    .team-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

    .name-box {
        font-size: .9em;
        padding-left: .5rem;
    }

    .role {
        font-size: .8em;
        padding-left: .5rem;
    }
}