body {
	background-image: url('/home/k/Downloads/Trianglify-10s-1553px.svg');
	background-position: fixed;
}

#collapsible1 {
    display: none;
}
#collapsible2 {
    display: none;
}
#collapsible3 {
    display: none;
}
#collapsible4 {
    display: none;
}
#collapsible5 {
    display: none;
}
#collapsible6 {
    display: none;
}

.category {
    margin-bottom: 20px;
}
.plus_button {
    float: right;
    cursor: pointer;
    padding-right: .5em;
    font-size: 1.3em;
}

.content p {
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
}

.content ul, .sec ul {
    margin: 2em;
}

@media screen and (max-width: 1000px) {
    .content ul, .sec ul {
        margin: 0;
        margin-top: 2em;
    }

    .content ul li, .sec ul li {
        margin-left: 0;
    }
    
    .category {
        font-size: 1.3em;
    }
}

.content ul li, .sec ul li {
    line-height: 2em;
    margin-left: 1em;
    font-size: 1.2em;
    list-style-type: disc;
}

.sec p {
    font-size: 1.2em;
}

